:root {
    //
    --layout-bg: #f9fafb;
    --sidebar-bg: #fdfefe;
    --layout-header-bg: #fff;
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --primary-bg: #90e8f0;
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --blue-primary: #4ad9e6;
    --chart-img-alpha-bg: rgba(32, 19, 53, 0.9);
    --loading-animation-bg: hsla(0, 0%, 100%, 0.1);
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --chart-img-alpha-bg: rgba(32, 19, 53, 0.9);
    --border-primary-bg: #dddee0;
    --border-search: #272828;
    --loading-bg: hsla(0, 0%, 100%, 0.1);
    --scroll-thumb-bg: #dddee0;
    --alpha-bg: #e6f2f3b8;
    --contrast-bg: rgba(254, 255, 255, 0.4);
    --contrast-bg-1: #feffff;
    --portal-menu-box-shadow: rgba(0, 0, 0, 0.2);
}
