:root {
    --text-link-hover: #9b9fa8;
    --text-primary: #374151;
    --text-placeholder: #374151;
    --text-navigation: #585d67;
    --text-purple-primary: #9b4de0;
    --text-setting-icon: #272828;
    --text-search: #eee;
    --text-title: #111827;
    --text-white: #fff;
}
