$bg_color: #fff;

.wrapper {
    position: fixed;

    // min-width: 200px;
    width: 450px;
    border-radius: 8px;

    box-shadow: 0 2px 5px var(--portal-menu-box-shadow);
    background-color: $bg_color;

    z-index: 99;

    & .arrow {
        width: 0;
        height: 0;

        position: absolute;
        border-style: solid;
        border-width: 20px 10px 0 10px;
        border-color: $bg_color transparent transparent transparent;
    }

    & .arrow.left {
        left: -7px;
    }

    & .arrow.right {
        right: -7px;
    }

    & .arrow.top {
        top: 0;
    }

    & .arrow.bottom {
        border-color: transparent transparent $bg_color transparent;
        border-width: 0 10px 20px 10px;
        bottom: 0;
    }
}
